@font-face {
    font-family: "Alibaba PuHuiTi 3.0";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/alibaba-puhuiti-400-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Alibaba PuHuiTi 3.0";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/static/fonts/alibaba-puhuiti-500-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Alibaba PuHuiTi 3.0";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/static/fonts/alibaba-puhuiti-600-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Alibaba PuHuiTi 3.0";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/static/fonts/alibaba-puhuiti-700-normal.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/static/fonts/ibm-plex-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/static/fonts/ibm-plex-mono-latin-500-normal.woff2") format("woff2");
}
