<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}oakis{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/fonts.css?v=1">
  <link rel="stylesheet" href="/static/css/prose.css?v=3">
  <link rel="stylesheet" href="/static/css/app.css?v=66">
  {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block body %}{% endblock %}
  <script src="/static/js/csrf.js?v=3"></script>
  <script src="/static/js/back-to-top.js?v=2"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
